<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Survey</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Optimize for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--jquery CDN-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <!--Link to local CSS File-->
    <link rel="stylesheet" href="styles/style.css">

    <!--Favicon-->
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>


</head>

<body id="survey-page">

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper" style="background-color: white;">
                <img src="/images/logo_main.png" id="logo" class="brand-logo" style="width: 216px; height: 44px;">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="" style="color: grey;" id="nav1">Contact</a>
                    </li>
                    <li>
                        <a href="" style="color: grey;" id="nav2">Components</a>
                    </li>
                    <li>
                        <a href="#modal1" style="color: grey;" id="nav3" class="modal-trigger">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <div class="container survey-page">
        <div id="Data">
            <button type="submit" class="waves-effect waves-light btn" id="getData" style="background-color: darkcyan;">Get
                Data</button>
        </div>


        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <div id="ans1div">
                            <!-- Plotly chart will be drawn inside this DIV -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <div id="ans2div">
                            <!-- Plotly chart will be drawn inside this DIV -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <div id="wordcloud"></div>

                    </div>
                </div>
            </div>



            <!-- <div class="col s12 m5">
                <div class="card">
                    <div class="card-image">
                        <div id="ans3div">
                            <!-- Plotly chart will be drawn inside this DIV
                        </div>

                    </div>
                </div>
            </div> -->

            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <div id="ans5div">
                            <!-- Plotly chart will be drawn inside this DIV -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                        <canvas id="myChart" width="100" height="100"></canvas>
                    <div class="card-image">
                        <div class="center-align" id="ans4div">
                            <!-- Plotly chart will be drawn inside this DIV -->
                        </div>

                    </div>
                </div>
            </div>
        </div>




        


    </div>


    

</body>


<!--Materialize JS CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<!--Local JS File-->
<script src="js/visuals.js"></script>
<script src="/js/d3.js" charset="utf-8"></script>
<script src="/js/d3.layout.cloud.js"></script>
<script src="/js/d3.wordcloud.js"></script>
<!-- <script src="/js/example.words.js"></script> -->
<script>

</script>

<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>




</html>